/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode
atlassian*
/nbproject
/robots.txt
/pub/robots.txt
/sitemap
/sitemap.xml
/pub/sitemap
/pub/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/env.php
/app/code/Magento/TestModule*
/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules
/.grunt
/Gruntfile.js
/package.json
/.php_cs
/.php_cs.cache
/grunt-config.json
/pub/media/*.*
!/pub/media/.htaccess
/pub/media/attribute/*
!/pub/media/attribute/.htaccess
/pub/media/analytics/*
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/favicon/*
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/logo/*
/pub/media/custom_options/*
!/pub/media/custom_options/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess

/var/*
!/var/.htaccess
/vendor/*
!/vendor/.htaccess
/generated/*
!/generated/.htaccess
.DS_Store





# Development environment
/node_modules/
/.aja/
/.idea/
/.snaps/
iec-data-*
/vendor/
/htdocs/
/checkstyle\.xml
/phpcs.xml
/phpmd.xml

# Config file samples
/auth\.json\.sample
/package\.json\.sample
/package-lock.json
/package.json
/grunt-config\.json\.sample
/nginx\.conf\.sample
/php\.ini\.sample
/\.php_cs\.dist

# Service configuration
/\.php_cs
/\.user\.ini
\.htaccess
/\.htaccess\.sample
/Gruntfile\.js\.sample

# Sphinx
/docs/_build
/docs/changelog\.rst

# Mapped files from magento2-base
/app/autoload\.php
/app/bootstrap\.php
/app/functions\.php
/app/design/adminhtml/Magento/
/app/design/frontend/Magento/
/app/etc/
/lib/
/dev/
/var/
/setup/
/phpserver/
/bin/magento
/.map
/Gruntfile.js
/.travis.yml
/.travis.yml.sample
/index.php

# Sphinx
/docs/_build

# Generated files
/pub/
/generated/
/var/\.regenerate
/var/\.maintenance\.flag
/var/log
/update

# Misc readme's
/PULL_REQUEST_TEMPLATE\.md
/CHANGELOG\.md
/CONTRIBUTING\.md
/ISSUE_TEMPLATE\.md
/CONTRIBUTOR_LICENSE_AGREEMENT\.html
/COPYING\.txt
/README_EE\.md
/LICENSE\.txt
/LICENSE_AFL\.txt
/LICENSE_EE\.txt
/LICENSE_B2B\.txt
/SECURITY\.md
/\.github/
.editorconfig
