<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <!-- Theme settings -->
    <theme_settings>
      <header>
        <left_column>4</left_column>
        <central_column>4</central_column>
        <right_column>4</right_column>
        <logo_position>primLeftCol</logo_position>
        <search_position>primCentralCol</search_position>
        <search_in_user_menu_position>1</search_in_user_menu_position>
        <account_links_position>userMenu</account_links_position>
        <top_links>1</top_links>
        <!-- <signup>0</signup> -->
        <user_menu_position>primRightCol</user_menu_position>
        <toplinks_break_position>0</toplinks_break_position>
        <main_menu_position>menuContainer</main_menu_position>
        <cart_position>userMenu</cart_position>
        <!-- <compare>1</compare>
        <compare_position>userMenu</compare_position>
        <compare_label>1</compare_label> -->
        <currency_switcher_position>topRight</currency_switcher_position>
        <lang_switcher_position>topRight</lang_switcher_position>
        <sticky>1</sticky>
        <sticky_full_width>0</sticky_full_width>
        <sticky_logo>0</sticky_logo>
        <mobile_move_switchers>0</mobile_move_switchers>
        <mode>1</mode> <!-- Deprecated -->
      </header>
      <category>
        <alt_image>0</alt_image>
        <alt_image_column>role</alt_image_column> <!-- IMPORTANT: use values defined in constants in \Infortis\Base\Model\System\Config\Source\Category\Altimagecolumn -->
        <alt_image_column_value>2</alt_image_column_value>
        <alt_image_role_attribute>alt_image</alt_image_role_attribute>
      </category>
      <category_grid>
        <image_width/>
        <image_height/>
        <columns_breakpoint_3XL>6</columns_breakpoint_3XL>
        <columns_breakpoint_2XL>6</columns_breakpoint_2XL>
        <columns_breakpoint_XL>5</columns_breakpoint_XL>
        <columns_breakpoint_L>4</columns_breakpoint_L>
        <columns_breakpoint_M>3</columns_breakpoint_M>
        <columns_breakpoint_S>3</columns_breakpoint_S>
        <columns_breakpoint_XS>3</columns_breakpoint_XS>
        <columns_breakpoint_2XS>2</columns_breakpoint_2XS>
        <columns_breakpoint_3XS>2</columns_breakpoint_3XS>
        <equal_height>1</equal_height>
        <hover_effect>1</hover_effect>
        <disable_hover_effect>320</disable_hover_effect>
        <hide_addto_links>480</hide_addto_links>
        <centered>0</centered>
        <elements_size/>
        <display_name>1</display_name>
        <display_name_single_line>0</display_name_single_line>
        <display_price>1</display_price>
        <display_rating>2</display_rating>
        <display_addtocart>1</display_addtocart>
        <display_addtolinks>2</display_addtolinks>
        <addtolinks_position>1</addtolinks_position>
      </category_grid>
      <category_list>
        <image_width/>
        <image_height/>
        <hover_effect>0</hover_effect>
      </category_list>
      <layered_navigation>
        <accordion_mode>1</accordion_mode>
        <expanded_on_load>false</expanded_on_load>
        <category_filter>1</category_filter>
      </layered_navigation>
      <product_page>
        <image_column>4</image_column>
        <primary_column>5</primary_column>
        <secondary_column>3</secondary_column>
        <lower_primary_column>9</lower_primary_column>
        <lower_secondary_column>3</lower_secondary_column>

        <collateral_position>lowerPrimCol_1</collateral_position>
        <tabs>1</tabs>
        <opened_tab>0</opened_tab>
        <tabs_style>style1</tabs_style>

        <related_position>lowerSecCol_1</related_position>
        <related_template>Infortis_Base::product/list/slider.phtml</related_template>
        <related_thumbnails>1</related_thumbnails>
        <related_breakpoints>[0, 1], [320, 2], [480, 3], [768, 1]</related_breakpoints>
        <related_rows>4</related_rows>
        <related_timeout>8000</related_timeout>
        <related_checkbox>0</related_checkbox>

        <upsell_position>lowerPrimCol_1</upsell_position>
        <upsell_template>Infortis_Base::product/list/slider.phtml</upsell_template>
        <upsell_thumbnails>0</upsell_thumbnails>
        <upsell_breakpoints>[0, 1], [320, 2], [480, 3], [992, 4], [1200, 5]</upsell_breakpoints>
        <upsell_rows>1</upsell_rows>
        <upsell_timeout></upsell_timeout>
        
        <brand_position>secCol_1</brand_position>
      </product_page>
      <gallery>
        <magnifier>1</magnifier>
        <magnifier_width>300</magnifier_width>
        <magnifier_height>300</magnifier_height>
      </gallery>
      <product_labels>
        <new>1</new>
        <sale>1</sale>
        <saved_value>1</saved_value>
        <saved_value_precision>2</saved_value_precision>
        <custom>1</custom>
        <custom_label_attr_code>custom_label</custom_label_attr_code>
        <round_labels>0</round_labels>
      </product_labels>
      <footer>
        <links_column_auto_width>1</links_column_auto_width>
        <footer_links>1</footer_links>
        <newsletter>1</newsletter>
        <store_switcher>1</store_switcher>
      </footer>
      <product_slider>
        <timeout/>
        <speed>200</speed>
        <auto_speed>500</auto_speed>
        <pause>1</pause>
        <loop>1</loop>
        <lazy>1</lazy>
        <keep_aspect_ratio>0</keep_aspect_ratio>
      </product_slider>
      <!-- <rsnippets>
        <enable_product>1</enable_product>
        <price_incl_tax>0</price_incl_tax>
      </rsnippets> -->
      <install>
        <demo_number>1</demo_number>
        <overwrite_blocks>0</overwrite_blocks>
        <overwrite_pages>0</overwrite_pages>
      </install>
      <!-- <customization>
        <custom_css>0</custom_css>
      </customization> -->
    </theme_settings>
    <theme_design>
      <colors>
        <color>#333</color>
        <link_color>#333</link_color>
        <link_hover_color>#3ec2df</link_hover_color>
        <button_bg_color>#eee</button_bg_color>
        <button_color>#333</button_color>
        <button_hover_bg_color>#3ec2df</button_hover_bg_color>
        <button_hover_color>#fff</button_hover_color>
        <button_active_bg_color>#333</button_active_bg_color>
        <button_active_color>#fff</button_active_color>
        <tool_icon_bg_color>#f5f5f5</tool_icon_bg_color>
        <tool_icon_color>#333</tool_icon_color>
        <tool_icon_hover_bg_color>#333</tool_icon_hover_bg_color>
        <tool_icon_hover_color>#fff</tool_icon_hover_color>
        <tool_icon_active_bg_color>#e5e5e5</tool_icon_active_bg_color>
        <tool_icon_active_color>#333</tool_icon_active_color>
        <icon_bg_color>#de2666</icon_bg_color>
        <icon_color>#fff</icon_color>
        <icon_hover_bg_color>#5bd2ec</icon_hover_bg_color>
        <icon_hover_color>#fff</icon_hover_color>
        <social_icon_bg_color>#bbb</social_icon_bg_color>
        <social_icon_color>#fff</social_icon_color>
        <social_icon_hover_bg_color>#ff7214</social_icon_hover_bg_color>
        <social_icon_hover_color>#fff</social_icon_hover_color>
        <ban_cap_bg_color>rgba(91, 210, 236, 0.85)</ban_cap_bg_color>
        <important_link_hover_color>#fff</important_link_hover_color>
        <important_link_hover_bg_color>#de2666</important_link_hover_bg_color>
        <label_new_bg_color>rgba(91, 210, 236, 0.85)</label_new_bg_color>
        <label_new_color>#fff</label_new_color>
        <label_sale_bg_color>rgba(241, 43, 99, 0.85)</label_sale_bg_color>
        <label_sale_color>#fff</label_sale_color>
        <label_custom_bg_color>rgba(146, 210, 19, 0.85)</label_custom_bg_color>
        <label_custom_color>#fff</label_custom_color>
        <price_color>#2dc4e6</price_color>
        <rating_active_color>#333</rating_active_color>
        <additional_bg_color>#f5f5f5</additional_bg_color>
      </colors>
      <defined_fonts>
        <google_fonts_string><![CDATA[https://fonts.googleapis.com/css?family=Bitter|Open+Sans:300,400,600,700]]></google_fonts_string>
        <local_fonts_string/>
        <font_stacks_string><![CDATA[Arial, 'Helvetica Neue', Helvetica, sans-serif; Verdana, Geneva, sans-serif; Georgia, serif]]></font_stacks_string>
      </defined_fonts>
      <font>
        <body_font_family><![CDATA['Open Sans']]></body_font_family> <!-- IMPORTANT: Font must be defined in "defined_fonts" -->
        <body_font_size>14</body_font_size>
        <fallback_body_font_stack><![CDATA[Arial, 'Helvetica Neue', Helvetica, sans-serif]]></fallback_body_font_stack>
        <headings_font_family><![CDATA[Bitter]]></headings_font_family> <!-- IMPORTANT: Font must be defined in "defined_fonts" -->
        <headings_font_weight>400</headings_font_weight>
      </font>
      <effects>
        <shadow>0</shadow>
        <shadow_nav>inner-container</shadow_nav>
        <structural_elements_transition>0</structural_elements_transition>
      </effects>
      <page>
        <!-- <viewport_bg_color>#f5f5f5</viewport_bg_color> -->
        <bg_color>#fff</bg_color>
        <bg_image/>
        <bg_repeat>repeat</bg_repeat>
        <bg_attachment>scroll</bg_attachment>
        <bg_positionx>center</bg_positionx>
        <bg_positiony>top</bg_positiony>
        <tex/>
        <content_padding_side>15</content_padding_side>
      </page>
      <header>
        <top_border_color>#333</top_border_color>
        <bg_color/>
        <bg_image/>
        <bg_repeat>no-repeat</bg_repeat>
        <bg_attachment>scroll</bg_attachment>
        <bg_positionx>center</bg_positionx>
        <bg_positiony>top</bg_positiony>
        <tex/>
        <tex2/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
      </header>
      <header_top>
        <color/>
        <link_color/>
        <link_hover_color/>
        <bg_color/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
        <content_padding_top/>
        <content_padding_bottom/>
        <content_padding_side/>
        <font_family/>
        <font_size/>
        <font_weight/>
        <font_uppercase/>
        <line_height>40</line_height>
      </header_top>
      <header_primary>
        <color/>
        <link_color/>
        <link_hover_color/>
        <bg_color/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
        <content_padding_top>5</content_padding_top>
        <content_padding_bottom>5</content_padding_bottom>
        <content_padding_side/>
        <font_family/>
        <font_size/>
        <font_weight/>
        <font_uppercase/>
        <line_height>40</line_height>
      </header_primary>
      <m_header>
        <bg_color/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
        <content_padding_side/>

        <tab_item_bg_color>#fafafa</tab_item_bg_color>
        <tab_item_color>#333</tab_item_color>
        <tab_item_hover_bg_color>#5bd2ec</tab_item_hover_bg_color>
        <tab_item_hover_color>#fff</tab_item_hover_color>
        <tab_item_active_bg_color>#f5f5f5</tab_item_active_bg_color>
        <tab_item_active_color>#3ec2df</tab_item_active_color>

        <tab_content_bg_color>#f5f5f5</tab_content_bg_color>
        <tab_content_color>#333</tab_content_color>
        <tab_content_link_color>#333</tab_content_link_color>
        <tab_content_link_hover_color>#3ec2df</tab_content_link_hover_color>
      </m_header>
      <search>
        <mode>s</mode>
        <size/>
        <width/>

        <bg_color>#fff</bg_color>
        <hover_bg_color>#fff</hover_bg_color>
        <color>#bbb</color>
        <hover_color>#333</hover_color>
        <border_color>#ddd</border_color>
        <border_hover_color>#eee</border_hover_color>
        <border_radius/>
        <shadow/>
        <focus_shadow>0 0 5px rgba(81,167,232,0.5), inset 0 1px 2px rgba(0,0,0,0.075)</focus_shadow>
        <!-- <max_width/> -->
      </search>
      <dropdowns>
        <bg_color>#fff</bg_color>
        <color>#333</color>
        <link_color>#333</link_color>
        <link_hover_color>#aaa</link_hover_color>
        <heading_filled>1</heading_filled>
        <with_pointer>0</with_pointer>
        <border_color/>

        <cart_label>1</cart_label>

        <cart_icon>cart</cart_icon>
        <cart_icon_size>20</cart_icon_size>
        <cart_icon_color>#333</cart_icon_color>
        <cart_iconbox_size>0</cart_iconbox_size>
        <cart_iconbox_bg_color>#f55856</cart_iconbox_bg_color>
        <cart_iconbox_shape>circle</cart_iconbox_shape>

        <cart_counter_size>s</cart_counter_size>
        <cart_counter_bg_color>#5bd2ec</cart_counter_bg_color>
        <cart_counter_border_color/>
        <cart_counter_shape>rounded</cart_counter_shape>
        <cart_counter_position/>
      </dropdowns>
      <nav>
        <outer_bg_color/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
        <content_padding_top/>
        <content_padding_bottom/>
        <content_padding_side/>
        <content_padding_side_value/>
        <line_height>50</line_height>
        <border>5</border>
        <border_color>#333</border_color>

        <bg_color>#f8f8f8</bg_color>
        <color>#333</color>
        <hover_bg_color>#5bd2ec</hover_bg_color>
        <hover_color>#fff</hover_color>
        <active_bg_color>#333</active_bg_color>
        <active_color>#fff</active_color>

        <sticky_item_bg_color>#fff</sticky_item_bg_color>
        <sticky_item_color>#333</sticky_item_color>
        <sticky_border>0</sticky_border>

        <dropdown_shadow>1</dropdown_shadow>
        <dropdown_bg_color>#fff</dropdown_bg_color>
        <dropdown_item_hover_bg_color>#F0F8FF</dropdown_item_hover_bg_color>
        <dropdown_color>#333</dropdown_color>
        <dropdown_link_color>#333</dropdown_link_color>
        <dropdown_link_hover_color>#00a9c7</dropdown_link_hover_color>
        <dropdown_border_top/>
        <dropdown_border_top_color/>
        <dropdown_border_all_levels>0</dropdown_border_all_levels>

        <mobile_bg_color>#f8f8f8</mobile_bg_color>
        <mobile_color>#333</mobile_color>
        <mobile_hover_bg_color>#5bd2ec</mobile_hover_bg_color>
        <mobile_hover_color>#fff</mobile_hover_color>
        <mobile_active_bg_color>#333</mobile_active_bg_color>
        <mobile_active_color>#fff</mobile_active_color>

        <mobile_link_separator_color>#eee</mobile_link_separator_color>
        <mobile_shadow>1</mobile_shadow>

        <level1_font_family><![CDATA[Bitter]]></level1_font_family> <!-- IMPORTANT: Font must be defined in "defined_fonts" -->
        <level1_font_size>16</level1_font_size>
        <level1_font_weight/>
        <level1_font_uppercase>1</level1_font_uppercase>

        <level2_font_family/>
        <level2_font_size>16</level2_font_size>
        <level2_font_weight/>
        <level2_font_uppercase>0</level2_font_uppercase>

        <mega_lev1_font_family><![CDATA[Bitter]]></mega_lev1_font_family> <!-- IMPORTANT: Font must be defined in "defined_fonts" -->
        <mega_lev1_font_size>16</mega_lev1_font_size>
        <mega_lev1_font_weight/>
        <mega_lev1_font_uppercase>1</mega_lev1_font_uppercase>

        <mega_lev2_font_size>14</mega_lev2_font_size>
        <mega_lev2_font_uppercase>0</mega_lev2_font_uppercase>

        <mobile_level1_font_family/>
        <mobile_level1_font_size>18</mobile_level1_font_size>
        <mobile_level1_font_weight/>
        <mobile_level1_font_uppercase>1</mobile_level1_font_uppercase>

        <mobile_level2_font_size>18</mobile_level2_font_size>
        <mobile_level2_font_uppercase>0</mobile_level2_font_uppercase>

        <vert_item_line_height>36</vert_item_line_height>
        <vert_item_bg_color>#f8f8f8</vert_item_bg_color>
        <vert_item_color>#333</vert_item_color>
        <vert_item_hover_bg_color>#5bd2ec</vert_item_hover_bg_color>
        <vert_item_hover_color>#fff</vert_item_hover_color>
        <vert_item_active_bg_color>#333</vert_item_active_bg_color>
        <vert_item_active_color>#f5f5f5</vert_item_active_color>
        <vert_shadow>1</vert_shadow>
        <vert_trigger_bg_color>#f7f7f7</vert_trigger_bg_color>
        <vert_trigger_color>#333</vert_trigger_color>

        <label_bg_color>#5bd2ec</label_bg_color>
        <label_color>#fff</label_color>
        <label_bg_color2>#d52462</label_bg_color2>
        <label_color2>#fff</label_color2>
        <label_hover_bg_color>#ff7214</label_hover_bg_color>
        <label_hover_color>#fff</label_hover_color>
      </nav>
      <main>
        <bg_color/>
        <tex/>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color>#fff</inner_bg_color>
        <content_padding_top>20</content_padding_top>
        <content_padding_bottom>20</content_padding_bottom>
        <content_padding_side/>
      </main>
      <footer>
        <bg_color>#f5f5f5</bg_color>
        <bg_image/>
        <bg_repeat>no-repeat</bg_repeat>
        <bg_attachment>scroll</bg_attachment>
        <bg_positionx>center</bg_positionx>
        <bg_positiony>top</bg_positiony>
        <tex>1</tex>
        <tex2/>
        <inner_bg_color/>
        <color/>
        <link_color/>
        <link_hover_color/>
        <button_bg_color>#e5e5e5</button_bg_color>
        <button_color>#555</button_color>
        <button_hover_bg_color>#a5db00</button_hover_bg_color>
        <button_hover_color>#fff</button_hover_color>
        <tool_icon_bg_color>#f5f5f5</tool_icon_bg_color>
        <tool_icon_color>#333</tool_icon_color>
        <tool_icon_hover_bg_color>#5bd2ec</tool_icon_hover_bg_color>
        <tool_icon_hover_color>#fff</tool_icon_hover_color>
        <icon_bg_color>#de2666</icon_bg_color>
        <icon_color>#fff</icon_color>
        <icon_hover_bg_color>#444</icon_hover_bg_color>
        <icon_hover_color>#fff</icon_hover_color>
      </footer>
      <footer_top>
        <color/>
        <link_color/>
        <link_hover_color/>
        <bg_color>#fff</bg_color>
        <padding_top/>
        <padding_bottom/>
        <inner_bg_color/>
        <content_padding_top/>
        <content_padding_bottom/>
        <content_padding_side/>
      </footer_top>
      <footer_primary>
        <color/>
        <link_color/>
        <link_hover_color/>
        <bg_color/>
        <padding_top>10</padding_top>
        <padding_bottom>10</padding_bottom>
        <inner_bg_color/>
        <content_padding_top>20</content_padding_top>
        <content_padding_bottom>20</content_padding_bottom>
        <content_padding_side/>
      </footer_primary>
      <footer_bottom>
        <color>#888</color>
        <link_color>#555</link_color>
        <link_hover_color>#de2666</link_hover_color>
        <bg_color>rgba(0, 0, 0, 0.04)</bg_color>
        <inner_bg_color/>
        <content_padding_top>20</content_padding_top>
        <content_padding_bottom>20</content_padding_bottom>
        <content_padding_side/>
      </footer_bottom>
      <category>
        <grid_item_bg_color/>
        <grid_item_hover_bg_color/>
      </category>
      <product_page>
        <addto_icon_bg_color>#eee</addto_icon_bg_color>
        <addto_icon_color>#333</addto_icon_color>
        <addto_icon_hover_bg_color>#5bd2ec</addto_icon_hover_bg_color>
        <addto_icon_hover_color>#fff</addto_icon_hover_color>
        <!-- <tab_inner_bg_color>transparent</tab_inner_bg_color>
        <tab_panel_bg_color>#fff</tab_panel_bg_color>
        <tab_border_color>#e5e5e5</tab_border_color>
        <tab_bg_color>#f5f5f5</tab_bg_color>
        <tab_color>#333</tab_color>
        <tab_hover_bg_color>#fafafa</tab_hover_bg_color>
        <tab_hover_color>#00b7d8</tab_hover_color>
        <tab_active_bg_color>#fff</tab_active_bg_color>
        <tab_active_color>#00b7d8</tab_active_color>
        <acco_bg_color>#fff</acco_bg_color>
        <acco_color>#333</acco_color>
        <acco_active_bg_color>#fff</acco_active_bg_color>
        <acco_active_color>#00b7d8</acco_active_color>
        -->
      </product_page>
      <slideshow>
        <tool_icon_bg_color>#fff</tool_icon_bg_color>
        <tool_icon_color>#333</tool_icon_color>
        <tool_icon_hover_bg_color>#000</tool_icon_hover_bg_color>
        <tool_icon_hover_color>#fff</tool_icon_hover_color>
        <tool_icon_active_bg_color>#de2666</tool_icon_active_bg_color>
      </slideshow>
    </theme_design>
    <theme_layout>
      <responsive>
        <responsive>1</responsive>
        <max_width>1200</max_width>
        <max_width_custom/>
        <fluid_width>0</fluid_width>
      </responsive>
    </theme_layout>
  </default>
</config>